In [17]:
a = {
    "pepe":2,
    "juan":5
}

for key in a:
    print(key, a[key])

pepe 2
juan 5

In [23]:
lst = []
for i in range(10):
    print(i)
    lst.append(i*10)
print(lst)

0
10
20
30
40
50
60
70
80
90

In [25]:
lst = ["Pepe","Juan","Victor"]
lst2 = []
for e in lst:
    print(e)
    lst2.append("Hola " + e)
print(lst2)

Pepe
Juan
Victor
['Hola Pepe', 'Hola Juan', 'Hola Victor']

In [34]:
lst = ["Pepe","Juan","Victor"]
z = [ 2 for e in lst ]
z

[2, 2, 2]

In [43]:
lst = ["Pepe","Juan","Victor"]
z = [ e*2 for e in lst if not e.startswith('J')]
z

['PepePepe', 'VictorVictor']

In [49]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]
[[k,e] for e in lst_lst for k in e]

SyntaxError: invalid syntax (<ipython-input-49-26823075b562>, line 2)

In [59]:
import pandas as pd
hoteles = [
    [
        {
            "name": "Ritz",
            "stars": 5,
            "hasPool": True
        },
        {
            "name": "Wellington",
            "stars": 5,
            "hasPool": False
        },
        {
            "name": "Picadero",
            "stars": 2,
            "hasPool": True
        }
    ],[
        {
            "name": "NH",
            "stars": 4,
            "hasPool": False
        },
        {
            "name": "AC",
            "stars": 3,
            "hasPool": True
        }
    ]
]

NameError: name 'hasPool' is not defined

In [57]:
pd.DataFrame([hotel for h in hoteles for hotel in h if hotel["hasPool"]])

   hasPool      name  stars
0     True      Ritz      5
1     True  Picadero      2
2     True        AC      3

In [63]:
pd.DataFrame([[hotel["name"],hotel["stars"]] for h in hoteles for hotel in h])

            0  1
0        Ritz  5
1  Wellington  5
2    Picadero  2
3          NH  4
4          AC  3

In [64]:
pd.DataFrame([[1,2,3],[1,2,3]])

   0  1  2
0  1  2  3
1  1  2  3

In [86]:
import os
path = "./m1-list-comprehensions-data"
files = [p for p in os.listdir(path) if p.endswith('.csv')]
display(files)
dfs = [pd.read_csv(os.path.join(path,f)) for f in files]
display([type(f) for f in dfs])
[display(df.head(3)) for df in dfs]
dfs.append(dfs[0])
pd.merge(*dfs, on="App")

['googleplaystore_user_reviews.csv', 'googleplaystore.csv']

[pandas.core.frame.DataFrame, pandas.core.frame.DataFrame]

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().